---
import Projects from "./projects/Projects.astro";
import Studies from "./studies/Studies.astro";
import About from "./about/About.astro";
import Skills from "./skills/Skills.astro";
import Home from "./home/Home.astro";
import Experiencies from "./experiencies/Experiencies.astro";

---

<main>
  <div class="container_p">
    <Home />
    <Projects />
    <Skills />
    <Studies />
    <Experiencies />
    <About />
  </div>
</main>
